a {
   color: black;
   text-decoration: none;
   padding: 10px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*This is my header with link effects and colors*/
a:hover { color: rgb(255, 0, 106); }
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-style: italic;
    font-size: 20px;
}

.container {
    display: grid;
    align-items:center; 
    /*grid-template-columns: 2fr 9fr 1fr;*/
    grid-template-columns: 25% 70%;
    column-gap: 15px;
   }
   
   .image2 {
     width: 270px;
     height: auto;
    /* border-radius: 50%;*/
     padding: 20px 20px;
   }
   
   .text {
     font-size: 30px;   
     font-style: italic;
     padding: 0px 40px;
     text-align: left;
     color: black;
     background-color: rgba(8, 8, 8, 0.1);
   }



/*This is my Work section font and effects*/
#Work {
    text-shadow: 20px 15px 6px;
    letter-spacing: 15px;
    font-size: 35px;
    font-style: italic;
    padding: 0px 10px 10px 0px;
    color: black;
}

img {
    width: 1150px;
    height: auto;
    }

/*This is the coding I used to achieve the look I wanted for my footer*/
.footer {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-style: italic;
    font-size: 20px;
}

section {
    text-align: center;
}
 
  
img {
    /* Margin property */
    margin: 20px;
    /* Padding property */
    padding: 20px;
    /* Border property */
    border: 1px inset #3a4449;
    cursor: pointer;
}

  img:hover {
    box-shadow: 0 0 20px 5px rgb(255, 0, 106);
  }

  .About-Me-box {
    display: flex;
    justify-content: center;
    text-shadow: 20px 15px 6px;
    letter-spacing: 15px;
    font-size: 50px;   
    height: auto;  
    font-style: italic;
    /*padding: 10px 20px 1px 20px;*/
    text-align: center;
    color: black;
    text-shadow: 10px 10px 10px black;
    align-items: center;
  }

  section {
    padding: 5px 10px;
    margin: 10px 450px 20px 450px;
    border-style: none;
  }

  #ContactMe {
    text-shadow: 20px 15px 6px;
    letter-spacing: 15px;
    font-size: 35px;
    font-style: italic;
    padding: 0px 10px 10px 0px;
    color: black;
  }

  #fieldset1 {
    border-style: none;
    padding: 20px 20px;
    margin: 20px 20px;
  }